<form>
    <!-- Email input -->
    <div class="form-outline mb-4">
      <input type="email" [(ngModel)]="email" name="email" id="email" class="form-control" />
      <label class="form-label" for="email">Email address</label>
    </div>
  
    <!-- Password input -->
    <div class="form-outline mb-4">
      <input type="password" [(ngModel)]="upwd" name="upwd" id="upwd" class="form-control" />
      <label class="form-label" for="upwd">Password</label>
    </div>
  
    <!-- Submit button -->
    <button type="button" (click)="onLogin()" class="btn btn-primary btn-block mb-4">Login</button>
</form>

<!-- Error message -->
<div id="errormsg" class="{{errorMsgState}}">Your email or password was incorrect.</div>